body {
    background-color: #222831;
}
  
.tableOfContents,
.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    position: fixed;
    width: 100%;
}

.tableOfContents a,
.socialMedia a {
    font-size: 14px;
}

.socialMedia {
    bottom: 0;
}

.tableOfContents .logo {
    color: #EEEEEE;
    text-align: left;
    position: fixed;
    left: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition-delay: 2s;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #eeeeeeb7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

li a:hover {
    background-color: #393E46;
    border-radius: 10px;
    color: #EEEEEE;
}

.active {
    text-decoration: underline;
    text-decoration-color: #EEEEEE;
    text-underline-offset: 8px;
}

.socialMedia a {
    text-transform: lowercase;
}

body {
    font-family: 'Nunito', sans-serif;
}


main {
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    justify-content: center;
    align-items: center;
    height: calc(100vh - (56px * 2));      
}

main h1 {
    text-transform: uppercase;
    font-size: 44px;
}

main a {
    color: #EEEEEE;
    text-decoration: underline;
    text-decoration-color: #EEEEEE;
}

main p {
    font-size: 22px;
}